body {
    background-color: #f0e2d7;
    color: #2b2b2b;
    font-family: 'Syne', sans-serif;
    font-kerning: normal;
}
h1 {font-weight: 800;}
h2 {font-weight: 700;}
h3 {font-weight: 600;}
#container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
#header {
    text-align: center;
    color: #c18e7b;
}
#content {
    padding: 0px;
}
#content-set {
    text-align: center;
}
#content-title {
    text-align: center;
}
.topnav {
    background-color: #fbf8f0;
    overflow: hidden;
}
.topnav a {
    float: left;
    text-align: center;
    padding: 15px 40px 16px;
    text-decoration: none;
    font-size: 18px;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 12px;
    border: none;
    outline: none;
    color: #2b2b2b;
    padding: inherit;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fbf8f0;
    min-width: 160px;
    box-shadow: #fbf8f0;
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: #524F4A;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #c18e7b;
}
.dropdown:hover .dropdown-content {
    display: block;
}
a:link {text-decoration: none; color: inherit}
a:visited {text-decoration: none; color: inherit}
a:hover {text-decoration: none; color: inherit}
a:active{text-decoration: none; color: inherit}